/* Custom CSS */
/* Cobbled together by Tak5haka, just for fun. Customise for your own use. */

.troika-pink {
	color: #ed1566;
}

.troika-beige {
	color: #fffee6;
}


/* CANVAS LOGO */
/* USE THIS TO HAVE A CUSTOM LOGO ON THE CANVAS - CHANGE THE URL TO POINT TO YOUR CHOSEN LOGO IMAGE */
img#logo {
	/* content: url(YOUR URL HERE); */
	width: 110px;
	height: auto;
}

/* PAUSE */
/* USE THIS TO HAVE A CUSTOM LOGO ON THE PAUSED STATE - CHANGE THE URL TO POINT TO YOUR CHOSEN IMAGE */
#pause img {
	/* content: url(YOUR URL HERE); */
	opacity: 1;
}

#pause figcaption  {
	text-shadow: none !important;
	color: #ed1566 !important;
	font-variant: small-caps;
	font-weight: 700;
}

#pause {
	background: none;
}

/* FONTS */
/* latin */
@font-face {
  font-family: 'Averia Libre';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/averialibre/v16/2V0HKIcMGZEnV6xygz7eNjESAJFhbXTu0pASTJSl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Averia Libre';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/averialibre/v16/2V0EKIcMGZEnV6xygz7eNjESAJnKT2HD8J04.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Averia Libre';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/averialibre/v16/2V0HKIcMGZEnV6xygz7eNjESAJFxanTu0pASTJSl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/averialibre/v16/2V0FKIcMGZEnV6xygz7eNjEarovdaETs2JcwTg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/averialibre/v16/2V0aKIcMGZEnV6xygz7eNjESBanIRWbh8g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/averialibre/v16/2V0FKIcMGZEnV6xygz7eNjEavozdaETs2JcwTg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.smaller-text {
	font-size: 0.8rem;
}

.centred {
	text-align: center;
}

.align-left {
	text-align: left !important;
}

.small-caps {
	font-variant: small-caps;
}

body, .custom-system-cell-boldTitle {
	font-family: 'Averia Libre', cursive;
}

.background_special label, .character_background label, .adventure_notes label, .custom-system-label-subtitle {
	font-weight: 700;
	font-size: 1.1rem;
}

/* LAYOUT */
.character header.sheet-header h1 input, h1.itemname input {
	text-align: left;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	font-size: 1.8rem;
	width: 100%;
	background: none;
	font-variant: small-caps; 
}

.attribute_header {
	font-size: 1.4rem;
	font-weight: 700;
}

.sheet header.sheet-header {
	align-items: start;
}

.custom-system-panel {
	margin: 10px 0 10px 0;
}

.custom-system-rollable {
	color: #ed1566;
}

.custom-system-actor nav.sheet-tabs {
	border-top: none;
	margin-bottom: 0;
}

.sheet .tabs .item {
	background-color: #fffee6;
	border-top: 1px solid #b5b3a4;
	border-left: 1px solid #b5b3a4;
	border-right: 1px solid #b5b3a4;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.sheet .tabs .item.active, .sheet .tabs .item:hover {
	text-shadow: none;
	background-color: #ed1566;
	color: #fffee6;
	border: none;
}

.sheet .tab[data-tab].active {
	border-top: 3px solid #ed1566;
}

.custom-system-field-root {
	margin-left: 0;
}

h4.custom-system-label-root {
	margin-top: 10px;
}

.custom-system-actor .profile-img-container {
	width: 140px;
	height: auto;
	flex: 0 0 140px;
	border: none;
	margin-right: 10px;
}

input[type="text"]#skill, input[type="text"]#stamina, input[type="text"]#luck {
	border-radius: 100%;
	width: 70px;
	height: 70px;
	font-size: 2rem;
	background: #fff;
	border: 3px solid #4a2405;
}

input[type="text"]#enemy_armour, input[type="text"]#enemy_initiative, input[type="text"]#stamina_current, input[type="text"]#luck_current {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	font-size: 1.2rem;
	background: #fff;
	border: 3px solid #4a2405;
}

.sheet input[type="checkbox"] {
	-webkit-appearance: initial;
    appearance: initial;
	background: #fff;
	flex: 0 0 20px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	outline: 1px solid #000;
	cursor: pointer;
}

.sheet input[type="checkbox"]:checked {
	background: #ed1566 !important;
	border: 3px solid #fff !important;
	-webkit-filter: none !important;
 }

.journal-sheet .journal-header .title {
	background: none;
	border: none;
	text-align: left !important;
}

a.content-link, a.inline-roll {
	background: none;
	border: none;
	padding: 0px;
}

a.content-link i, a.inline-roll i {
	color: #ed1566;
}

/* CHAT */
.chat-left-label {
	font-weight: 700;
	font-style: normal;
	width: 40%;
}

.chat-right-label {
	font-weight: 700;
	font-style: normal;
	font-size: 1.3rem;
	width: auto;
}

.chat-right-label-bg a.content-link {
	font-weight: 700;
	font-style: normal;
	font-size: 0.9rem;
	font-style: italic;
	width: auto;
	white-space: normal !important;
	word-break: break-word !important;
}

.fumble, .mighty-blow {
	font-size: 1.1rem;
	font-weight: 700;
}

.mighty-blow {
	color: darkgreen;
}

.fumble {
	color: darkred;
}

.custom-system-roll {
    background: none;
    padding: 0px;
    border: none;
    border-radius: 0px;
    white-space: normal;
    word-break: break-word;
    pointer-events: none;
    display: inline-block;
    max-width: 100%;
}

.chat-right-label i {
	display: none;
}

.fa-dice-d20:before {
	content: "\f522" !important;
}

/* BACKGROUNDS */
.window-app .window-content, .sheet.journal-entry .journal-entry-content, .chat-message {
	background-image: none;
	background-color: #fffee6;
}

.sheet .description label {
	font-weight: 700;
	font-size: 1.2rem;
}

/* TABLES */

.troika-table, .troika-table tr, .troika-table td, .troika-table th, .weapon_container table, .weapon_container table th, .weapon_container table td, .damage_table table, .damage_table table th, .damage_table table td, .enemy_damage_container table, .enemy_damage_container table th, .enemy_damage_container table td {
	border: 2px solid #000;
	background-color: #fff;
	text-align: center;
	table-layout: fixed;
}

.mein_table table, .mein_table th, .mein_table td, .character_background table, .character_background th, .character_background td {
	border: 2px solid #000;
	background-color: #fff;
}

.character_background thead {
	color: #000;
	text-shadow: none;
	font-weight: 700;
	font-variant: small-caps;
	text-align: center;
}

.character_background td {
	padding: 4px;
}

.character_background td:nth-child(1) {
	text-align: center;
}

.troika-table th.first-column, .troika-table td.first-column, .weapon_container table td.custom-system-cell-alignLeft, .enemy_damage_container table td.custom-system-cell-alignLeft {
	width: 25%;
}

.troika-table td, .weapon_container table td.custom-system-cell-alignCenter, .enemy_damage_container table td.custom-system-cell-alignCenter {
	min-width: 11%;
}

.weapon_container table td:nth-child(1), .enemy_damage_container table td:nth-child(1) {
	border-right: 0;
}

.weapon_container table td.custom-system-cell-boldTitle, .enemy_damage_container table td.custom-system-cell-boldTitle {
	font-variant: small-caps;
}

.weapon_container table td:nth-child(2), .enemy_damage_container table td:nth-child(2) {
	border-left: 0;
}

.weapon_container table td:nth-child(10) .custom-system-dynamic-table-row-icons, .enemy_damage_container table td:nth-child(10) .custom-system-dynamic-table-row-icons {
	text-align: center !important;
	display: block;
}

.damage_table input, .mein_table input, .background_type input, .skills_table input, .armour_table input, .armour_table select, .inventory_slots input, .inventory_slots select {
	background: none;
	border: none;
}

.inventory_slots table td:nth-child(1) select {
	text-align: center;
}

/* BACKGROUNDS JOURNAL ENTRIES */
/* WHEN YOU CREATE A JOURNAL ENTRY FOR THE BACKGROUNDS, ADD A TOP LEVEL DIV TO THE HTML WITH THE ID "backgrounds" FOR THIS TO WORK */
#backgrounds img {
	float: right;
	width: 34%;
	margin-left: 10px;
	border: none;
}

#backgrounds h4 {
	font-variant: small-caps;
	font-size: 1.2rem;
}